[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xerox = "*"
yt-dlp = {extras = ["default"], version = "*"}

[dev-packages]
yt-dlp = "*"

[requires]
python_version = "3.12"
